@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap');

body {
    border: 3px solid #F90E0D;
    background-color: #F90E0D;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 0;
}

.video {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-shrink: 0;
    gap: 15px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.text {
    font-family: 'Libre Caslon Display';
    font-size: 18px;
    font-weight: bold;
    color: #F90E0D;
    letter-spacing: 1px;
}

.header {
    background-color: #F90E0D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 18vw;

}

.header .text {
    color: white;
}

.logo {
    flex-shrink: 0;
    font-size: 40px;
    font-family: 'Lucida Calligraphy';
    font-weight: normal;
}

.topContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 18vw;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px;
    height: 340px;
    width: 500px;
    gap: 5px;
}

.title {
    padding-right: 30px;
}

.subtext {
    font-size: 20px;
}

.image {
    width: 350px;
    height: 350px;
    border: 3px solid #F90E0D;
}

.button {
    color: white;
    background-color:#F90E0D;
    border-radius: 10px;
    padding: 5px 30px;
    border: 2px solid #F90E0D;
    transition-duration: 0.4s;
}

.button:hover {
    box-shadow: 0 0px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.trackList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px 18vw;
    gap: 20px;
    z-index: 2;
}

.tracks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.track {
    display: flex;
    background-image: url(./media/flower.gif);
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    width: 180px;
    height: 180px;
    padding: 20px;
    border-radius: 10px;
    line-height: 35px;
}

.trackList .text {
    color: #F90E0D;
    font-size: 36px;
    letter-spacing: 8px;
}

.whiteText {
    display: inline;
    font-size: 25px;
    color:#F90E0D;
    letter-spacing: .5px;
    background-color: white;
}

.quoteSection {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 70px 18vw;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: flex-start;
    font-style: italic;
    gap: 40px;
    z-index: 2;
}

.quote {
    display: inline;
    font-size: 36px;
    line-height: 60px;
}

.person {
    display: inline;
    font-size: 30px;
    font-style: none;
    margin-right: 100px;
    padding: 2px;
    background-color: white;
}

.other {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px 18vw;
    padding: 40px;
    border-radius: 10px;
    background-color: #F90E0D;
}

.other .text{
    color: white;
    font-size: 30px;
}

.other .subtext {
    font-size: 15px;
}

.other .button {
    background-color: #F90E0D;
    border: 3px solid white;
    color: white;
    font-size: 20px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F90E0D;
    padding: 25px;
}

.footer .text {
    color: white;
    font-size: 15px;
}
